<footer>
    <div class="container-fluid">

        <h1 class="text-light" id="contact"> CONTACT ME </h1>

        <div class="container text-center">
            <div class="row">

              <div class="col">
                <a href="https://www.instagram.com/diegoleonardi_06/" target="_blank">
                <img src="https://tinypic.host/images/2023/06/03/instagram.png" alt="Instagram" class="instagram"></a>
              </div>

              <div class="col">
                <a href="https://www.linkedin.com/in/diego-leonardi-7705b021b/" target="_blank">
                <img src="https://tinypic.host/images/2023/06/03/linkedin.png" alt="LinkedIn" class="linkedin"></a>
              </div>

              <div class="col">
                <a href="https://github.com/Dieggo0" target="_blank">
                <img src="https://tinypic.host/images/2023/05/25/github.png" alt="GitHub" class="github"></a>
              </div>

            </div>
          </div>

        <div class="container text-center">
            <div class="row">

                <div class="col">
                </div>

                <div class="col text-light" id="mail">
                     Mail: die6l0795@gmail.com
                </div>

                <div class="col">
                </div>
            </div>
        </div>
        
    </div>
</footer>
