#Portada {
    /* background-color: #140019; */
    background-image: var(--bs-gradient);
    background-image: url(https://i.ibb.co/Hx5BXJh/Lineas.gif);
    background-repeat: no-repeat;
    background-size:cover;
}
.text{
    font-size: 50px;
    font-family: 'Times';
    text-align: center;
    padding-top: 300px;
    padding-bottom: 400px;
    color: rgb(255, 255, 255);
    
}

.nombre{
    color: rgb(180, 17, 112);
}