.container-fluid{
    padding-bottom: 100px;
}

h1{
    font-size: 80px;
    font-family: 'Times';
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    text-decoration: underline 3px;
    text-underline-offset: 25px;
}

#image-container {
    width: 900px;
    height: 900px;
    position: relative;
    overflow: hidden;
  }
  
  #image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  } 

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.image-container{
    padding-left: 30px;
}

.text-container{
    padding-left: 90px;
    font-size: 25px;
    font-family: 'Arial';
}

  