<div class="container-fluid">

    <h1> ABOUT </h1>

    <ul class="list">
        <li class="image-container">
            <img src="https://tinypic.host/images/2023/04/14/Foto-de-Perfil.jpeg" alt="Foto de Perfil">
        </li>
        <li class="text-container">
            <p> Tengo 21 años y actualmente estudio Diseño Gráfico. Además de mi interés por el diseño siempre me llamó
                mucho la atención el ámbito de la tecnología y la informática. <br> Me encanta aprender cosas nuevas y estoy en constante
                búsqueda de conocimientos, desde el diseño hasta la programación. <br> Me fascina la idea de crear y desarrollar 
                proyectos desde cero y ver cómo cobran vida, me gusta trabajar en equipo y colaborar con otros profesionales
                para llevar a cabo proyectos ambiciosos. <br> Estoy buscando oportunidades para expandir mis conocimientos y 
                habilidades, espero poder aportar valor a cualquier proyecto en el que participe <br> y, por supuesto, seguir aprendiendo
                en el camino.
                 </p>
        </li> 
    </ul> 
</div>
