<div class="container-fluid">

    <h1 id="about"> ABOUT </h1>

    <div class="container">
        <div class="row">
            
            <div class="col-md-6" id="image-container">
                <img src="https://tinypic.host/images/2023/04/14/Foto-de-Perfil.jpeg" alt="Foto de Perfil" class="img-fluid">
            </div>

            <div class="col-md-6 align-self-center">
                <p class="text-container"> Tengo 21 años y actualmente estudio Diseño Gráfico. Además de mi interés por el diseño siempre me llamó
                    mucho la atención el ámbito de la tecnología y la informática. Me encanta aprender cosas nuevas y estoy en constante
                    búsqueda de conocimientos, desde el diseño hasta la programación. Me fascina la idea de crear y desarrollar 
                    proyectos desde cero y ver cómo cobran vida, me gusta trabajar en equipo y colaborar con otros profesionales
                    para llevar a cabo proyectos ambiciosos. Estoy buscando oportunidades para expandir mis conocimientos y 
                    habilidades, espero poder aportar valor a cualquier proyecto en el que participe y, por supuesto, seguir aprendiendo
                    en el camino.
                     </p>
            </div>
        </div>
    </div>
      
</div>