.navbar{
    background-color: #140019;
    font-family:'Roboto', 'Helvetica', sans-serif;
    background-image: var(--bs-gradient)
}

a{
    color: #2c3f58;
}

.nav-link{
    font-size: 15px;
    font-family: 'Times';
    margin-right: 15px;
    margin-left: 20px;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
