<div class="container-fluid">

    <h1 id="projects"> PROJECTS </h1>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-iamge">
                     <img src="https://i.postimg.cc/j5PZ9nGy/Calculadora-JS.png" class="image-fluid card-img-top" alt="Calculadora-JS" id="calculadora">
                    </div>  
                <div class="card-body">
                     <h5 class="card-title"> Calculadora JavaScript </h5>
                    <p class="card-text" id="texto-calculadora"> Una calculadora básica usando algunas funcionalidades de JavaScript, nos permite realizar todas las operaciones básicas y obtener asi el resultado exacto.
                    </p>
                    <a href="https://github.com/Dieggo0/Calculadora-JS" class="btn btn-dark" target="_blank"> GitHub </a>
                </div>
                </div>
            </div>
            
            <div class="col-md-1">
                <div class="card">
                    <div class="card-iamge">
                     <img src="https://i.postimg.cc/pLmQ4njy/Lista-de-Tareas.png" class="image-fluid card-img-top" alt="Lista-de-Tareas" id="lista">
                    </div>  
                <div class="card-body">
                     <h5 class="card-title"> Lista de Tareas </h5>
                    <p class="card-text"> Herramienta que permite añadir tareas pendientes con su descripción dia y hora, también podemos activar o desactivar el recordatorio. Una vez relizadas las tareas podemos proceder a borrarlas para llevar un control sobre las mimsas. </p>
                    <a href="https://github.com/Dieggo0/Lista-de-Tareas" class="btn btn-dark" target="_blank"> GitHub </a>
                </div>
                </div>
            </div>

                <div class="row">
                <div class="col-md-6" id="hero">
                    <div class="card">
                        <div class="card-iamge">
                         <img src="https://i.postimg.cc/BQkP878Q/Tour-of-Heroes.png" class="image-fluid card-img-top" alt="Tour-of-Heroes"></div>  
                    <div class="card-body">
                         <h5 class="card-title"> Tour of Heroes </h5>
                        <p class="card-text"> Ayuda a una agencia de personal a admnisitrar un grupo de héroes. Adquiere y muestra una lista de héroes, edita los detalles de un héroe seleccionado y navega entre las diferentes vistas de datos heroicos. </p>
                        <a href="https://github.com/Dieggo0/Tour-Of-Heroes" class="btn btn-dark" target="_blank"> GitHub </a>
                    </div>
                    </div>
                </div>

                <div class="col-md-1" id="nube">
                    <div class="card">
                        <div class="card-iamge">
                         <img src="https://i.postimg.cc/HxvsqjXs/La-Nube.png" class="image-fluid card-img-top" alt="La Nube">
                        </div>  
                    <div class="card-body">
                         <h5 class="card-title"> La Nube </h5>
                        <p class="card-text" id="texto-nube"> Blog sobre una conferencia tecnológica ficticia. Para esta página usamos las herramnientas básicas de HTML y CSS, contruyendo un blog informativo simple pero estético. </p>
                        <a href="https://github.com/Dieggo0/La-nube" class="btn btn-dark" target="_blank"> GitHub </a>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
    
</div>
