<div class="container-fluid">
    <h1 id="skills"> SKILLS </h1>

    <div class="skills-list">
        <ul>

            <li>
                <img src="https://tinypic.host/images/2023/05/25/html.png" alt="html" class="html">
            </li>
            <li>
                <img src="https://tinypic.host/images/2023/05/25/css.png" alt="css" class="css">
            </li>
            <li>
                <img src="https://tinypic.host/images/2023/05/25/js.png" alt="javascript" class="javascript">
            </li>
            <li>
                <img src="https://tinypic.host/images/2023/05/25/bootstrap.png" alt="bootstrap" class="bootstrap">
            </li>
            <li>
                <img src="https://tinypic.host/images/2023/05/25/java.png" alt="java" class="java">
            </li>
            
            <br>

            <li>
                <img src="https://tinypic.host/images/2023/05/25/angular.png" alt="angular" class="angular">
            </li>

        </ul>
    </div>
</div>
