<div class="container-fluid">
    <h1 id="skills"> SKILLS </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/html.png" alt="html" class="image-fluid" id="html">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/css.png" alt="css" class="image-fluid" id="css">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/js.png" alt="javascript" class="image-fluid" id="javascript">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/bootstrap.png" alt="bootstrap" class="image-fluid" id="bootstrap">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/java.png" alt="java" class="image-fluid" id="java">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/angular.png" alt="angular" class="image-fluid" id="angular">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/25/github.png" alt="github" class="image-fluid" id="github">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/28/mysql.png" alt="mysql" class="image-fluid" id="mysql">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/28/springboot.png" alt="springboot" class="image-fluid" id="springboot">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/28/Git.png" alt="git" class="image-fluid" id="git">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/28/illustrator.png" alt="illustrator" class="image-fluid" id="illustrator">
            </div>
            <div class="col-md-3">
                <img src="https://tinypic.host/images/2023/05/28/photoshop.png" alt="photoshop" class="image-fluid" id="photoshop">
            </div>
        </div>
    </div>

    
</div>