<div class="container-fluid">
    <h1 id="skills"> SKILLS </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://i.postimg.cc/Bb1sRpJM/html.png" alt="html" class="image-fluid" id="html">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/3NpN2Y08/css.png" alt="css" class="image-fluid" id="css">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/4djnKmd2/js.png" alt="javascript" class="image-fluid" id="javascript">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/Bbcsq61K/bootstrap.png" alt="bootstrap" class="image-fluid" id="bootstrap">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/pXHXgNnj/java.png" alt="java" class="image-fluid" id="java">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/SKJyWkHB/angular.png" alt="angular" class="image-fluid" id="angular">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/xC6SX71s/github.png" alt="github" class="image-fluid" id="github">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/dtjtFW8x/mysql.png" alt="mysql" class="image-fluid" id="mysql">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/Ss9kvVSV/springboot.png" alt="springboot" class="image-fluid" id="springboot">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/MZRpPZXx/Git.png" alt="git" class="image-fluid" id="git">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/P56XpPVb/illustrator.png" alt="illustrator" class="image-fluid" id="illustrator">
            </div>
            <div class="col-md-3">
                <img src="https://i.postimg.cc/9XGcPxNQ/photoshop.png" alt="photoshop" class="image-fluid" id="photoshop">
            </div>
        </div>
    </div>

    
</div>